:root {
  @apply light;
}

.dark {
  --color-bg-primary: #171923;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #a0aec0;
  --color-text-accent: #81e6d9;
  --color-primary-green: #81dc99;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #161e2e;
  --color-text-secondary: #6c7280;
  --color-text-accent: #2b6cb0;
  --color-primary-green: #c0f5ce;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: var(--color-bg-primary);
  transition: background-color 0.5s;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 40%,
    var(--color-primary-green) 40%
  );
}

.social-icons {
  height: auto;
  position: fixed;
  top: 50vh;
  right: 30px;
  transform: translateY(-50%);
}

.toggle-mode {
  height: auto;
  position: fixed;
  top: 30px;
  right: 32px;
  /* transform: translateY(-50%); */
}
