/* :root {
  @apply light;
}

.dark {
  --color-bg-primary: #171923;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #a0aec0;
  --color-text-accent: #81e6d9;
  --color-primary-green: #81dc99;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #161e2e;
  --color-text-secondary: #6c7280;
  --color-text-accent: #2b6cb0;
  --color-primary-green: #c0f5ce;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.social-icons {
  height: auto;
  position: fixed;
  top: 50vh;
  right: 30px;
  transform: translateY(-50%);
}

.toggle-mode {
  height: auto;
  position: fixed;
  top: 30px;
  right: 32px;
}

/* dark background color that displays on content under the svg pattern */
.dark .paint__wrapper {
  background-color: #1e293c;
}

/* the dark svg pattern */
.dark .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_dark.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* light background color that displays on content under the svg pattern */
.light .paint__wrapper {
  background-color: #f3f4f6;
}

/* the light svg pattern */
.light .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_light.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
