@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Blog Styles */

.prose pre {
  @apply bg-coolGray-100 border border-coolGray-500 dark:border-coolGray-400 dark:bg-blueGray-800 text-coolGray-500 dark:text-coolGray-400;
}

.prose code {
  @apply px-1 py-0.5 border border-coolGray-500 dark:border-coolGray-400 rounded-md bg-coolGray-100 dark:bg-blueGray-800;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

/* Portfolio Styles */

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

.social-icons {
  height: auto;
  position: fixed;
  top: 50vh;
  right: 30px;
  transform: translateY(-50%);
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.toggle-mode {
  height: auto;
  position: fixed;
  top: 30px;
  right: 32px;
}

/* dark background color that displays on content under the svg pattern */
.dark .paint__wrapper {
  background-color: #1e293c;
}

/* the dark svg pattern */
.dark .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_dark.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* light background color that displays on content under the svg pattern */
.light .paint__wrapper {
  background-color: #f3f4f6;
}

/* the light svg pattern */
.light .paint__wrapper-pattern {
  background-image: url("../assets/brush_strokes_light.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
