.gatsby-highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.gatsby-highlight pre[class*='language-'] {
  -webkit-overflow-scrolling: touch;
}

.theme-dark .gatsby-highlight pre[class*='language-']::before {
  background: #1d2b3b;
  color: #9ca3af;
}

.gatsby-highlight pre[class*='language-']::before {
  background: #f3f4f6;
  border-radius: 0.35rem 0.35rem 0 0;
  color: #4b5663;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.2rem 1rem;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
  text-align: right;
  text-transform: uppercase;
}

.gatsby-highlight pre[class~='language-jsx']::before {
  content: 'jsx';
}

.gatsby-highlight pre[class~='language-tsx']::before {
  content: 'tsx';
}

.gatsby-highlight pre[class~='language-ts']::before {
  content: 'ts';
}

.gatsby-highlight pre[class~='language-js']::before {
  content: 'js';
}

.gatsby-highlight pre[class~='language-html']::before {
  content: 'html';
}

.gatsby-highlight pre[class~='language-css']::before {
  content: 'css';
}

.gatsby-highlight pre[class~='language-scss']::before {
  content: 'scss';
}
