.prose pre,
.language-tab pre[class*='language-']::before {
  /* Large code blocks */
  /* @apply bg-gray-100 dark:bg-midnight;
   */

  background-color: red;
  background-color: #1e293b;
}

code[class*='language-'],
pre[class*='language-'] {
  /* Overall text color */
  @apply text-blueGray-500 dark:text-gray-300;
}

.prose code {
  /* Inline code blocks */
  @apply bg-indigo-50 dark:bg-indigo-900 dark:bg-opacity-50 text-indigo-500 dark:text-indigo-200 py-0.5 px-2 rounded mx-1 inline-block align-middle tracking-tight text-base;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.class-name,
.token.function,
.token.selector,
.token.selector.class,
.token.selector .class,
.token.tag {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}

.token.attr-name,
.token.important,
.token.keyword,
.token.pseudo-class,
.token.rule {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.token.attr-value,
.token.class,
.token.string {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.token.attr-equals,
.token.punctuation {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.token.attr-value * {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.token.attr-value .attr-equals,
.token.attr-value .attr-equals + .punctuation,
.token.attr-value > .punctuation:last-child {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.token.property {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.token.unit {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity));
}

.language-shell .token:not(.comment),
.token.atapply .token:not(.rule):not(.important):not(.punctuation) {
  color: inherit;
}

.language-css .token.function {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity));
}

.token.combinator,
.token.comment,
.token.module,
.token.operator {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.token.unchanged {
  display: block;
}

.token.deleted,
.token.inserted {
  position: relative;
  margin-left: -2.25rem;
  margin-right: -2.25rem;
  display: block;
  border-left-width: 4px;
  padding-left: 2rem;
  padding-right: 1.25rem;
}

.token.deleted:before,
.token.inserted:before {
  position: absolute;
  top: 0;
  content: var(--tw-content);
  left: 1rem;
}

.token.inserted {
  --tw-border-opacity: 1;
  border-color: rgb(45 212 191 / var(--tw-border-opacity));
  background-color: rgb(45 212 191/0.15);
}

.token.inserted:before {
  --tw-text-opacity: 1;
  color: rgb(45 212 191 / var(--tw-text-opacity));
  --tw-content: '+';
  content: var(--tw-content);
}

.token.deleted {
  --tw-border-opacity: 1;
  border-color: rgb(251 113 133 / var(--tw-border-opacity));
  background-color: rgb(244 63 94/0.15);
}

.token.deleted:before {
  --tw-text-opacity: 1;
  color: rgb(251 113 133 / var(--tw-text-opacity));
  --tw-content: '-';
  content: var(--tw-content);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Show appropriate flavor of code block */
.language-tab {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.language-tab pre[class*='language-'] {
  -webkit-overflow-scrolling: touch;
}

.language-tab pre[class*='language-']::before {
  @apply absolute right-0 px-4 py-1 text-sm text-right uppercase rounded-t-lg text-blueGray-500 dark:text-gray-300 -top-6;
}
