@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, calc(100% - 32px)) 1fr;
  /* column-gap: 16px; */
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.article-ring-state {
  @apply transition-all hover:ring ring-teal-500 dark:ring-emerald-400 hover:ring-offset-4 hover:ring-offset-white dark:hover:ring-offset-dark;
}

.hr {
  @apply my-16 w-full border-none text-center h-10 before:content-['∿∿∿'] before:text-[#D1D5DB] before:text-2xl;
}

.general-ring-state {
  @apply transition-all hover:ring ring-midnight dark:ring-gray-100 hover:ring-offset-4 hover:ring-offset-white dark:hover:ring-offset-dark;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  max-width: 300px;
}

#carbonads > span {
  display: block;
  position: relative;
  padding: 10px;

  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px hsla(0, 0%, 0%, 0.05),
    0 0 2px 2px hsla(0, 0%, 0%, 0.05), 0 0 4px 4px hsla(0, 0%, 0%, 0.05);
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  margin-right: 10px;

  line-height: 1;
}

#carbonads .carbon-text {
  margin-bottom: 12px;

  font-size: 12px;
  line-height: 1.45;
  text-decoration: none;
  color: #637381;
}

#carbonads .carbon-poweredby {
  position: absolute;
  bottom: 10px;
  left: 152px;

  font-size: 8px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #c5cdd0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
